.zsu
  .zsu__main
    .zsu__main-logo
    .zsu__main-lamps
    .zsu__main-wrapper
      .zsu__main-wheel
        .zsu__main-wheel-wrap
          .zsu__main-wheel-arrow.position
          .zsu__main-wheel-btn.position.pulse-btn
            span Грай
          .zsu__main-wheel-frame
          .zsu__main-wheel-reel.position
          .zsu__main-wheel-bottom.position
      .zsu__main-right
        .zsu__main-right-try
          span У тебе
          span.try-number 2 спроби
        .zsu__main-right-ducks
      .zsu__main-txt
        .zsu__main-txt-title Грай, забирай бонус
        .zsu__main-txt-subtitle допомагай ЗСУ
    .zsu__main-video
      video(autoplay muted loop data-poster="img/bg.jpg").zsu__main-video-bg
        source(data-src="img/video.mp4" type="video/mp4")
  .zsu__main-infoMob
    .rules-mob
      .rules-mob__drop
        details.dropdown
          summary ЯК ПЕРЕРАХУВАТИ 1% ДО ЗСУ?
          .drop-txt
            p Навіть у військовий час необхідно займатися звичним справами та розважатися, щоб не зійти з розуму. Живи своїм життям, про твою безпеку дбають військові. А ми перераховуємо 1% від кожного депозиту на підтримку Збройних сил України.
            p Вболівай за ЗСУ. Будь всередині гри з FAVBET.
    .rules-mob
      .rules-mob__drop
        details.dropdown
          summary Як отримати фріспіни?
          .drop-txt
            p Зроби депозит від 150 UAH.
            p В особистому кабінеті у розділі “Бонуси” у вкладці “Фріспіни” натисни кнопку «Старт».
            p Зроби будь-яку ставку.
            p Як тільки ставку зроблено — натисни «Прийняти» та забирай спіни.
            p Бонусна пропозиція дійсна протягом 5 днів.
    .rules-mob
      .rules-mob__drop
        details.dropdown
          summary Як отримати бонус 4500 на депозит?
          .drop-txt
            p Внеси кошти на ігровий рахунок від 100 UAH.
            p Натисни "Старт" протягом 48 годин після поповнення рахунку, щоб активувати грошовий бонус у розмірі 100% від суми депозиту. В тебе буде 10 днів, щоб відіграти бонус.
            p Виконай умови бонусу та прийми його в “Особистому кабінеті”.
            p Після прийняття бонусу він зарахується на твій ігровий гаманець.
            p Бонус «Ставка без ризику» – страхування** ставки на суму до 500 UAH нараховується автоматично і без додаткових умов.
            p Детальніше про бонус на депозит 4500 тут: #[br] #[a(href="https://www.favbet.com/promos/promo/new_welcome/" target="_blank") https://www.favbet.com/promos/promo/#[br]new_welcome/]
            p Все буде Україна💛💙
  .zsu__footer
    .zsu__footer-descr
      .zsu__footer-rules Правила та умови
      .zsu__footer-icons
        .zsu__footer-icons-wrap
          .zsu__footer-icons-age
          .zsu__footer-icons-applePay
          .zsu__footer-icons-googlePay
          .zsu__footer-icons-visa
          .zsu__footer-icons-mcard
        .zsu__footer-icons-wrap
          a(href="https://app.appsflyer.com/id1076305677?af_cost_model=CPI&pid=prilamedibuy&af_sub1=2885&af_sub2=1858&af_sub3=yarmola_land4500_&af_sub4=141&af_click_lookback=7d" target="_blank").zsu__footer-icons-apple
          a(href="https://www.favbet.com/static/media/android-files/version3/Favbet_v.3.0.27.apk" target="_blank").zsu__footer-icons-google
    .zsu__footer-warning УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ.ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ

  .zsu__overlay.opacity-overlay
    .zsu__firstWin.hide
      .zsu__firstWin-info
        .zsu__firstWin-title Ти виграв фріспіни
        .zsu__firstWin-img
        .zsu__firstWin-sum 150 FS
        .zsu__firstWin-try Залишилась ще #[span.amount #[span 1] спроба]
        .zsu__firstWin-btn.btn Крути ще
    .zsu__secondWin.hide
      .zsu__secondWin-info
        .zsu__secondWin-title Ти виграв БОНУС
        .zsu__secondWin-img
        .zsu__secondWin-sum 4500₴
        .zsu__secondWin-sum-fr 150 фріспінів
        .zsu__secondWin-try Реєструйся, бонус та фріспіни вже на твоєму рахунку
        a(href="https://www.favbet.com/short-register?action=/casino").zsu__secondWin-btn.btn Забирай бонус
    .zsu__rules.hide
      .zsu__rules-close
      .zsu__rules-txt
        .zsu__rules-txt-title ЯК ПЕРЕРАХУВАТИ 1% ДО ЗСУ?
        .zsu__rules-txt-descr Навіть у військовий час необхідно займатися звичним справами та розважатися, щоб не зійти з розуму. Живи своїм життям, про твою безпеку дбають військові. А ми перераховуємо 1% від кожного депозиту на підтримку Збройних сил України.
        .zsu__rules-txt-info Вболівай за ЗСУ. Будь всередині гри з FAVBET.
        .zsu__rules-txt-title Як отримати Фріспіни?
        ul.zsu__rules-txt-list
          li.zsu__rules-txt-item Зроби депозит від 150 UAH.
          li.zsu__rules-txt-item В особистому кабінеті у розділі “Бонуси” у вкладці “Фріспіни” натисни кнопку «Старт».
          li.zsu__rules-txt-item Зроби будь-яку ставку.
          li.zsu__rules-txt-item Як тільки ставку зроблено — натисни «Прийняти» та забирай спіни.
        .zsu__rules-txt-info Бонусна пропозиція дійсна протягом 5 днів.
        .zsu__rules-txt-title Як отримати Бонус 4500 на Депозит
        ul.zsu__rules-txt-list
          li.zsu__rules-txt-item Внеси кошти на ігровий рахунок від 100 UAH.
          li.zsu__rules-txt-item Натисни "Старт" протягом 48 годин після поповнення рахунку, щоб активувати грошовий бонус у розмірі 100% від суми депозиту. В тебе буде 10 днів, щоб відіграти бонус.
          li.zsu__rules-txt-item Виконай умови бонусу та прийми його в “Особистому кабінеті”.
          li.zsu__rules-txt-item Після прийняття бонусу він зарахується на твій ігровий гаманець.
          li.zsu__rules-txt-item Бонус «Ставка без ризику» – страхування** ставки на суму до 500 UAH нараховується автоматично і без додаткових умов.
        .zsu__rules-txt-more
          | Детальніше про бонус на депозит 4500 тут: #[br]
          a(href="https://www.favbet.com/promos/promo/new_welcome/" target="_blank") https://www.favbet.com/promos/promo/new_welcome/
        .zsu__rules-txt-more Все буде Україна💛💙

  .zsu__ship
    .zsu__ship-img
  .zsu__dron
